<body style="
        background-color: #1e1e1e;
        color: White;
        font-size: 30px;">

        <style>
            img {
                width: 100%;
                height: auto;
            }

            h1 {
                color: #296ac3;
                font-size: 100px;
                text-align: center;
            }

            h2 {
                color: #296ac3;
            }
        </style>

        <script>
            function isNormalInteger(str) {
                str = str.trim();
                if (!str) {
                    return false;
                }
                str = str.replace(/^0+/, "") || "0";
                var n = Math.floor(Number(str));
                return n !== Infinity && String(n) === str && n >= 0;
            }

            function afficher() {
                var val = document.getElementById("id_client").value
                if (isNormalInteger(val)) {
                    var url = "http://localhost:8000/pageApps/client/" + val;
                    window.location.replace(url)
                }
                else {
                    document.getElementById("texte2").textContent = "not a valide Id";
                }

            }


        </script>

        <h1>Accueil</h1>

        <form action="/action_page.php">
            <label for="id_client">ID client:</label><br>
            <input type="text" id="id_client" name="id_client" value=""><br>
            <input type="button" id="bouton" value="go to url" size="100" onclick="afficher()"><br><br>
        </form>

        <p id="texte2" style="color:red;"></p>
        <br>





    </body>
